@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Italiana&display=swap');

#cover,
#bio,
#portfolioPage {
  background-color: #e6e6e6;
  color: #252525;
  height: 100vh;
  width: 100vw;
}